FIGMA_TOKEN=
FIGMA_FILE_KEY=
ADMIN_SYNC_SECRET=
ADMIN_UI_TOKEN=
USE_FIGMA_RENDER=
USE_UNIVERSAL_ENGINE=
FIGMA_TEMPLATES_TTL_SEC=1800
FIGMA_SCHEMA_TTL_SEC=7200
FIGMA_FILE_TTL_SEC=1800
FIGMA_CACHE_TTL_SEC=900
FIGMA_PREVIEW_SCALE=0.25
DEBUG_RENDER=
CACHE_ENABLED=1
CACHE_JSON_TTL_SEC=600
CACHE_ASSET_TTL_SEC=3600
CACHE_JSON_MAX_ITEMS=500
CACHE_ASSET_MAX_BYTES=268435456
CACHE_ASSET_MAX_ITEMS=200
CACHE_DEBUG=0
B2_BUCKET_NAME=
B2_S3_REGION=
B2_S3_ENDPOINT=
B2_ACCESS_KEY_ID=
B2_SECRET_ACCESS_KEY=
MAX_UPLOAD_MB=
SIGNED_URL_EXPIRES_SEC=
YADISK_PUBLIC_KEY=https://disk.yandex.ru/d/WR5hXDnAN_D-fg
